.add_recipe {
    display: flex;
    flex-direction: column;
}
.add_recipe h1 {
    text-align: left;
}
.add_recipe_form {
    display: flex;
    padding-top: 20px;
    width: 100%;
    align-items: center;
}
.add_recipe_form p {
    width: 200px;
}
.add_recipe_item {
    width: 600px;
}
.big_input {
    width: 100%;
}
textarea {
    width: 100%;
    min-height: 50px;
    max-height: 200px;
}
.short_input {
    width: 50px;
    text-align: center;
}
.button-add-recipe {
    margin: 10px 10px 10px 10px;
}
.ql-editor {
    min-height: 350px;
}

@media screen and (max-width: 720px){

    .add_recipe {
        padding: 10px;
    }
    .big_input {
        width: 90%;
    }
    textarea {
        width: 90%;
    }

    .add_recipe_form {
        width: 90%;
    }
    .button-add-recipe span{
        font-size: 13px;
    }

    .button-add-recipe {
        margin: 0 auto;
    }

}