.left-menu {
    display: flex;
}

.main-name {
    font-size: 30px;
    font-weight: bolder;
    font-style: italic;
    color: #509E2F;
}

.list-menu {
    font-weight: bold;
    margin-left: 100px;
}
.list-menu p {
    cursor: pointer;
}