.logo {
    margin-left: 50px;
    cursor: pointer;
}
.sub-header {
    display: flex;
    padding: 20px;
    align-items: center;
}
.arrow {
    width: 28px;
    height: 38px;
    margin-left: 10px;
}
.search {
    display: flex;

    height: 45px;
    border: solid 1px #D9D9D9;
    border-radius: 20px;
    margin: 0 auto;
}
.category {
    display: flex;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    align-items: center;
}
.category a {
    color: #509E2F;
    font-weight: bold;
}
.inputSearch {
    display: flex;
    margin: 0 auto;

}
.inputSearch input {
    border: none;
    width: 450px;
    border-radius: 15px;
    padding: 10px;
}
.search-icon {
    display: flex;
    background: #D9D9D9;
    border-radius: 15px;
    cursor: pointer;
}
.search-icon img {
    width: 20px;
    height: 20px;
    margin: 12px auto ;
}
.user-icon {
    width: 43px;
    height: 55px;
    cursor: pointer;
    margin-left: 50px;
}
.user {
    display: none;
    margin-right: 50px;
}

.add-recipe {
    display: flex;
    border: solid #509E2F;
    border-radius: 15px;
    margin-left: 50px;
    width: 200px;
    height: 50px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #509E2F;
    text-decoration: none;
    text-align: center;
}
.add-recipe:hover {
    background: #509E2F;
    color: #D9D9D9;
}
.selector {
    border: none;
    color: #509E2F;
    font-size: 16px;
    width: 250px;
    cursor: pointer;
    font-weight: bolder;
}
.selector option:hover {
    background: #509E2F;
}

@media screen and (max-width: 720px){

    .logo {
        margin: 0 auto;
    }

    .sub-header {
        display: block;
    }
    .logo {
        text-align: center;
        margin-bottom: 20px;
    }

    .search {
        display: block;
        height: 65px;
        width: 300px;
    }
    .search-icon {
        display: none;
    }

    .user {
        margin-top: 20px;
    }

    .recipes {
        display: flex;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
    }

}