footer {
    display: flex;
    height: 243px;
    background: url("/src/img/Footer/footer.png");
}
.footer {
    display: flex;
    align-items: center;
    margin: 0 auto;
}
.first-block {
    display: flex;
    color: #D9D9D9;
    flex-direction: column;
}
.first-block p {
    text-align: center;
}
.name-footer {
    font-weight: bold;
    font-size: 30px;
}
.second-block {
    display: flex;
    color: #D9D9D9;
    justify-content: center;
}
.list:first-child{
    margin-left: 100px;

}
.list {
    width: 200px;
}
.list p {
    cursor: pointer;
}
.list p:hover {
    color: #509E2F;
}
.third-block {
    color: #D9D9D9;
}
.third-block p {
    color: #D9D9D9;
}
.third-block a {
     margin-right: 5px;
     cursor: pointer;
 }