.logo {
    width: 250px;
    height: 90px;
}
.sub-header {
    display: flex;
    padding: 20px;
    align-items: center;
}
.arrow {
    width: 28px;
    height: 38px;
    margin-left: 10px;
}
.search {
    display: flex;
    width: 726px;
    height: 44px;
    border: solid 1px #D9D9D9;
    border-radius: 20px;
    margin-left: 100px;
}
.category {
    border: 1px solid #D9D9D9;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
}
.inputSearch {
    display: flex;
    margin: 0 auto;
}
.inputSearch input {
    border: none;
    width: 450px;
    border-radius: 15px;
    padding: 10px;
}
.search-icon {
    display: flex;
    background: #D9D9D9;
    border-radius: 15px;
    width: 44px;
    height: 41px;
    cursor: pointer;
}
.search-icon img {
    width: 20px;
    height: 20px;
    margin: 12px auto ;
}
.user-icon {
    width: 43px;
    height: 46px;
    margin-left: 200px;
    cursor: pointer;
}
