.left-menu {
    display: flex;
}

.main-name {
    font-size: 30px;
    font-weight: bolder;
    font-style: italic;
    color: #509E2F;
}

.list-menu {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    margin-left: 100px;
    /*justify-content: start;*/
    margin-right: 120px;
}
.recipe_list_item {
    color: black;
    text-decoration: none;
    margin-bottom: 20px;
}
.recipe_list_item:hover {
    color: #509E2F;
}