@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* { padding: 0; margin: 0; }
body { font-family: 'Montserrat', sans-serif; letter-spacing: 1px;}
header {
    text-align: justify;
    height: 37px;
    background: #000000;
    color: #fff;
}

.menu {
    display: flex;
    list-style: none;
}
.menu li {
    margin-right: 20px;
    margin-top: 5px;
    cursor: pointer;
    text-transform: uppercase;
}
.menu li:hover {
    color: #509E2F;
}
.menu img {
    height: 13px;
    width: 20px;
}
.menu-btn {
    margin-right: 150px;
    display: flex;
    justify-content: flex-end;
}

.pass-field {
    display: flex;
}
.open-pass-btn{
    display: flex;
    margin-left: -27px;
    cursor: pointer;
}
.bottom-btn{
    cursor: pointer;
}

@media screen and (max-width: 720px){

    header {
        height: auto;
    }

}