.Main {
    display: flex;
}
.main-left {
    margin-top: 100px;
}
.main-recipe-list {
    display: flex;
    flex-direction: column;
    width: 1000px;
}
.container {
    max-width: 950px;
    margin: 0 auto
}
.left-icon {
    display: flex;
    margin-left: 50px;
}
.button {
    color: #509E2F;
    background: white;
    border: solid #509E2F;
    border-radius: 10px;
    padding: 5px;
}
.button:hover {
    color: #D9D9D9;
    background: #509E2F;
    border: solid #509E2F;
}

input, textarea{
    padding-left: 5px;
    border-radius: 5px;
    border-color: #509E2F;
}
input {
    height: 25px;
}

@media screen and (max-width: 1500px){
    .left-icon {
        display: none;
    }
    .main-recipe-list{
        width: 850px;
    }
}

@media screen and (max-width: 720px){
    .main-left {
        display: none;
    }

    .left-icon {
        display: none;
    }

    .main-recipe-list {
        width: 100%;
    }
    .outlet {
        margin-left: 60px;
    }
}



