.recipe-list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 900px;

    flex-wrap: wrap;
}
.list-item {
    display: block;
    padding: 20px;
    cursor: pointer;
}
.list-item img {
    width: 200px;
    height: 200px;
}
.list-item p {
    text-align: left;
}
.recipe-bottom-list {
    display: flex;
    justify-content: space-between;
}
.recipe-bottom {
    display: flex;
    align-items: center;
}
.recipe-bottom img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
.recipe-bottom p {
    display: flex;
    margin: 0 auto;
}